name: "Build and push Super Mario Docker image with static tag to Docker Hub"

on:
  push:
    branches:
      - master

jobs:

  build_push_supermario_docker_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t docker.io/bhavin1099/supermariogitopsproject:1 .
          docker push docker.io/bhavin1099/supermariogitopsproject:1 
          docker save -o supermariolatestdockerimage.tar docker.io/bhavin1099/supermariogitopsproject:1

      - name: Run Trivy vulnerability scanner in tarball mode
        uses: aquasecurity/trivy-action@master
        with:
        #   input: /github/workspace/supermariolatestdockerimage.tar
          image-ref: docker.io/bhavin1099/supermariogitopsproject:1 
          exit-code: '1'
          severity: 'CRITICAL,HIGH'