# name: "Build and push Super Mario Docker image with static tag to Docker Hub"

# on:
#   push:
#     branches:
#       - master

# env:
#   VERSION: $(( $(cat version.txt) + 1 )) # Fir dt=ynamic docker image taggings
  
# jobs:

#   build_push_supermario_docker_image:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v3

#       - name: Login to Docker Hub
#         run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

#       - name: Build and Push Docker Image
#         run: |
#           docker build -t docker.io/bhavin1099/supermariogitopsproject:${{ env.VERSION }} .
#           docker push docker.io/bhavin1099/supermariogitopsproject:${{ env.VERSION }} 
#           docker save -o supermariolatestdockerimage.tar docker.io/bhavin1099/supermariogitopsproject:${{ env.VERSION }}

#   scan_docker_img_by_trivy:
#     runs-on: ubuntu-latest
#     needs: build_push_supermario_docker_image
#     steps:
      
#       - name: Run Trivy vulnerability scanner in tarball mode
#         uses: aquasecurity/trivy-action@master
#         with:
#         #   input: /github/workspace/supermariolatestdockerimage.tar
#           image-ref: docker.io/bhavin1099/supermariogitopsproject:${{ env.VERSION }}
#           exit-code: '0' # 1 fail pipeline while found secrity & Vurnability , 0 - Ignore it.
#           severity: 'CRITICAL,HIGH'

#   update_deployment_file_with_latest_img:
#     runs-on: ubuntu-latest
#     needs: scan_docker_img_by_trivy
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v3

#       - name: Set Git Config
#         run: | 
#           git config --global user.email "${{ secrets.GIT_EMAIL }}"
#           git config --global user.name "${{ secrets.GIT_USERNAME }}"

#       - name: Update Deployment YAML to update Latest IMG
#         run: |
#           git pull
#           sed -i "s|image: bhavin1099/supermariogitopsproject:.*|image: bhavin1099/supermariogitopsproject:${{ env.VERSION }}|"deployment.yml
#           echo ${{ env.VERSION }} > version.txt
#           CURRENT_VERSION=$(cat version.txt)
#           git add deployment.yml version.txt
#           git commit -m "Update deployment file to latest versions image tag to ${CURRENT_VERSION}"
#           git push
